*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 1700px;
    margin: 0 auto;
    padding: 0 20px;
    
   
    
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 600;
    
}
.sdk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: rgb(0, 0, 0);
    
}
.aaja{
    color: white;
    
}
.h-1{
    width: 728px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo1{
    width: 500px;
    height: 180px;
    padding-left: 150px;
    padding-top: 30px;

}
.h-3{
    padding-left: 250px;
    padding-top: 20px;
}
.p1{
    padding-left: 150px;
    padding-top: 20px;
} 
.flex{
    display: flex;
    justify-self: center;
    align-items: center;
}
.logo2{
    width: 500px;
    height: 180px;
    padding-left: 150px;
    padding-top: 30px; 
}
.h-9{
    padding-left: 250px;
    padding-top: 20px; 
}
.p2{
    padding-left: 150px;
    padding-top: 20px; 
}
.logo3{
    width: 500px;
    height: 180px;
    padding-left: 150px;
    padding-top: 30px; 
}
.h-4{
    padding-left: 250px;
    padding-top: 20px; 
}
.p3{
    padding-left: 150px;
    padding-top: 20px;  
}
.logo4{
    width: 500px;
    height: 205px;
    padding-left: 150px;
    padding-top: 60px; 
}
.h-7{
    padding-left: 250px;
    padding-top: 20px; 
}
.p4{
    padding-left: 150px;
    padding-top: 5px;    
}
.flex-1{
    display: flex;
    justify-self: center;
    align-items: center;
}
.logo5{
    width: 500px;
    height: 205px;
    padding-left: 150px;
    padding-top: 60px;   
}
.h-5{
    padding-left: 250px;
    padding-top: 20px;  
}
.p5{
    padding-left: 150px;
    padding-top: 5px;
}
.logo6{
    width: 500px;
    height: 205px;
    padding-left: 150px;
    padding-top: 60px;   
}
.h-2{
    padding-left: 250px;
    padding-top: 20px;  
}
.p6{
    padding-left: 150px;
    padding-top: 15px;  
}
.con{
    width: 1700px;
    margin: 0 auto;
    padding: 0 20px; 
}
ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 600;
}
.sss{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
footer{
    background-color: rgb(0, 0, 0);
}
.aaa{
    color: white;
}

































